body{
    background-color: black;
    color: white;
    text-align: center;
}

#scenario-title{
    margin: auto;
}

#stage-container{
    background-color: darkblue;
    width: 1280px;
    height: 720px;
    margin: auto;
}

#copyright{
    font-size: smaller;
}